.conversation-container .header {
  background-color: rgb(65, 191, 241) !important;
  display: block;
  background: none;
  height: auto !important;
  margin: 0;
}
.client {
  background-color: rgb(65, 191, 241);
  color: #fff;
}
.conversation-container .title {
  color: #fff;
}
.conversation-container, .launcher{
  box-shadow: 0 8px 38px 5px hsla(210,1%,58%,.3)
}
.launcher{
  background-color: rgb(65, 191, 241);
}

@media only screen and (max-width: 600px) {
  .widget-container {
      display: none;
  }
}