@import "config";

html {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-size: calc(6px + 1vmin);
}
body {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  color: #2a2a2a;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}


p {
  line-height: 1.5;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: .2s ease;

  &:hover, &:focus, &:active {
    color: darken($primary-color, 5%);
  }
}

section {
  h2:first-child {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 3rem;
  overflow: hidden;
}
