@import 'config';

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("assets/media/header-bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  color: white;

  &:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(rgba(black, .55), rgba(#FF386A, .5));
    z-index: 1;
  }
}

.header__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.header__content {
  position: relative;
  top: 50%;
  margin: auto;
  padding: 0 3rem;
  transform: translateY(-50%);
  color: white;
  z-index: 1;

  @media screen and (min-width: 1024px) {
    max-width: 60%;
  }

  h1 {
    color: white;
    letter-spacing: .2rem;
    margin: 0 0 1rem 0;
    line-height: 1.6;
    font-size: 2rem;
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.4);
  }

  p {
    margin: 0;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 4rem;
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.4);
  }
}

.header__search {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;

  input {
    opacity: .999;
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    border: none;
    font-size: 1.2rem;
    outline: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.12);

    &::placeholder {
      transition: all .2s;
    }

    &:focus {
      &::placeholder {
        opacity: .5;
      }
    }
  }

  button {
    display: block;
    border: none;
    outline: 0;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background: $primary-color;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  img {
    display: inline-block;
    padding-right: 1rem;
    border-right: 1px solid rgba(0,0,0,.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    width: 3.5rem;
    opacity: .5;
  }
}

.header__scroll-indicator {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5rem;
  width: 15px;
  height: 15px;
  animation: scroll;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 1;

  &:before {
    display: block;
    height: 15px;
    content: "";
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
  }

  &:after {
    display: block;
    height: 15px;
    content: "";
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    margin-top: -8px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
