@import 'config';

.nav {
  position: absolute;
  width: 100%;
  padding: 3rem;
  top: 0;
  left: 0;
  z-index: 9;

  &--active {
    .nav__toggle {
      span {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg) !important;
        }

        &:nth-child(2) {
          transform: translate(-10px);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg) !important;
        }
      }
    }
  }
}

.nav__logo {
  position: absolute;;
  top: 50%;
  transform: translateY(-65%);
  z-index: 1;

  img {
    max-height: 3rem;
  }
}

.nav__items {
  float: right;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  margin-left: 1.5rem;

  a {
    display: block;
    padding-bottom: .5rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 1.5rem rgba(0,0,0,0.4);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: .2s ease;
    touch-action: manipulation;

    &:hover {
      border-bottom-color: rgba(255,255,255,0.3);
    }
  }

  &--important {
    a {
      padding: .5rem 1.5rem;
      background: $primary-color;
      border-radius: 4px;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.nav__toggle {
  position: relative;
  display: none;
  float: right;
  padding: 0;
  background: none;
  border: none;
  width: 2rem;
  outline: none;
  cursor: pointer;
  z-index: 1;
  touch-action: manipulation;

  span {
    display: block;
    margin: 6px 0;
    height: 2px;
    width: 100%;
    background: white;
    transition: .2s ease;
  }

  &:hover {
    span {
      &:nth-child(1), &:nth-child(3) {
        transform: translateX(5px);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    &--active {
      .nav__items {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .nav__toggle {
    display: inline-block;
  }

  .nav__items {
    position: absolute;
    float: none;
    padding-top: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: $secondary-color;
    transform: scale(0);
    opacity: 0;
    transition: opacity .2s ease;
    box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.12);
  }

  .nav__item {
    display: block;
    padding: none;
    margin: none;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    &--important {
      padding: 0;
      border: 0;

      a {
        padding: 1rem 0;
        border-radius: 0;
      }
    }
  }
}
