.partners {
  padding: 3rem 0;
  overflow: hidden;

  h2 {
    margin-bottom: 3rem
  }

  @media screen and (min-width: 1101px) {
    padding: 6rem 0;
  }
}



.partner {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;

  img {
    width: 50%;
    filter: grayscale(100%);
    transition: .2s ease;
  }

  a {
    display: block;
    padding: 1rem;
    background: white;
    transition: .2s ease;

    &:hover {
      background: #f7f7f7;

      img {
        filter: grayscale(0);
      }
    }
  }

  @media screen and (min-width: 741px) {
    width: 25%;
    border-right: 1px solid #eee;

    &:nth-child(n+5) {
      border-top: 1px solid #eee;
    }

    &:nth-child(4n) {
      border-right: none;
    }
  }

  @media screen and (max-width: 740px) {
    width: 50%;
    border-right: 1px solid #eee;

    &:nth-child(n+3) {
      border-top: 1px solid #eee;
    }

    &:nth-child(even) {
      border-right: none;
    }
  }

  @media screen and (max-width: 400px) {
    a {
      padding: 0;
    }
  }
}
