@import 'config';

.testimonials {
  padding: 3rem 0;
  position: relative;
  background-color: #f7f7f7;

  @media screen and (min-width: 1101px) {
    padding: 6rem 0;
  }
}

.testimonials__arrows {
  text-align: center;
}

.testimonials__arrow__left, .testimonials__arrow__left {
  cursor: pointer;
  color: #aaa;
  font-size: 2.5rem;
}

.testimonials__arrow__left {
  margin-right: 1rem;
}

.testimonials__arrow__left {
  margin-left: 1rem;
}

.testimonials__slider {
  margin: 0 -1.5rem;
}

.testimonial {
  width: 100% / 3;
  margin-top: 1.5rem;
  padding: 0 1.5rem;

  &__text {
    padding: 1rem;
    background: white;
    margin-bottom: 1.5rem;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 15px -8px black;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      transform: rotate(45deg);
      left: 3rem;
      width: 16px;
      height: 16px;
      background: white;
      box-shadow: 2px 2px 10px -5px black;
    }

    p {
      margin: 0;
      color: #aaa;
    }
  }

  &__user {
    position: relative;
    padding-left: 7.5rem;
    min-height: 4.5rem;

    img {
      position: absolute;
      width: 4.5rem;
      height: 4.5rem;
      left: 1.5rem;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      display: inline-block;
      filter: grayscale(100);
      vertical-align: middle;
    }

    h4 {
      font-size: 1.2em;
      margin: 0;
      padding-top: .6rem;
    }

    span {
      color: #aaa;
    }
  }
}
